*{
    margin: 0;
    padding: 0;
}


:root{
    --maincolor:#37517E;
    --backcolor:#47B2E4;

}

.topsec{
    background-color:#37517E;
    height: 730px;
}

.collapse a{
    color:white !important;

}

.dropdown-menu a{
    color: black !important;
}

.hero img{
    animation: move 1.5s alternate infinite;
}

@keyframes move{

    from{
    transform: translateY(0);
    }to{
    transform: translateY(-15px);
    }

}

.brands{
    background-color: #f1f0f0;
}


.text-blue{
    color: var(--maincolor) !important;
}

.bg-blue{
    color: var(--backcolor) !important;
}

.grey-line{
    width: 13%;
    height: 1px;
    background-color: rgb(192, 190, 190);
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
}

.blue-line{
    width: 38%;
    height:2.5px ;
    background-color: #47B2E4;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.midsec{
    font-size: 18px;
    color: rgb(78, 77, 77);
}

.para{
    color: rgb(142, 140, 140);
    font-size: 17px;
}

.botsec{
    padding-bottom: 50px;
}

.html{
    display: flex;
    justify-content: space-between;
    
}

.html h6{
    font-weight: bold;
    font-size: 13px;
    font-style:inherit;
}

.lorem{
    color: #273e67;
    font-weight: bolder;
}

.lorem2{
    font-style: italic;
}

.percent{
    width: 100%;
    height: 10px;
    background-color: #37517E;
}

.main{
    display: flex;
}
.percent1{
    width: 90%;
    height: 10px;
    background-color: #37517E;
}
.percent2{
    width: 10%;
    height: 10px;
    background-color: #e4e0e0;
}
    
.percent3{
    width: 90%;
    height: 10px;
    background-color: rgb(55, 81, 126);
}
.percent4{
    width: 28%;
    height: 10px;
    background-color: #e4e0e0;
    
}
.percent5{
    width: 90%;
    height: 10px;
    background-color: #37517E;
}
.percent6{
    width: 65%;
    height: 10px;
    background-color: #e4e0e0;
    
}

.circleblue{
    background-color:#47B2E4; 
}


.work-card:hover{
    transform: scale(-10px);
}

.work-card{
    
    transition: all 0.4s;
}

.work-card2{
    overflow: hidden;
}

.work-card .content{
    transition: all 0.4s;
}

.work-card h4{
    transition: all 0.4s;
}

.work-card img{
    transition: all 0.4s;
    
}

.work-card:hover img{
    
    transform: scale(1.1);
}

.work-card:hover h4{
    transform: translateY(-10px);
}

.work-card:hover .content{
    transform:translateY(-10px);
}

.imagecontainer{
    
    
    background: linear-gradient(to right,rgb(55, 81, 126,0.5),rgb(55, 81, 126,0.7)),url(https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp)fixed;
}

.image-animation{
    overflow: hidden;
    position: relative;
}
.overlay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 20px;
    bottom: -90px;
    transition: all 0.4s;
    background-color: rgba(255, 255, 255, 0.795);
}

.image-animation:hover .overlay{
    bottom: 0;
}

.social-icons i{
    background-color: #e4e0e0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    color: #626161;
}

.social-icons i:hover{
    background-color: #47B2E4;
    color: white;
}

.forminput input{
    width: 80%;
}

.forminput2{
    background-color: #47B2E4;
}

.forminput2:hover {
    background-color: #3e8eb4;
    
}

.recentblog{
    width: 85%;
}

.piccard {
    overflow: hidden;
    
}
.piccard img{
    transition: all 0.4s;
}

.piccard2:hover img{
    transform: scale(1.1);
}

.piccard h4{
    color: #37517E;
    transition: all 0.2s;
}
.piccard2:hover h4{
    color: #47B2E4;
}

.piccard span{
    color: #a19e9e;
}

.piccard:hover span{
    color: #47B2E4;
}

.phone2{
    display: flex;
}


.phonea{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #47b2e430;
    color: #47B2E4;
    transition: all 0.3s;
}

.phonea:hover{
    background-color: #47B2E4;
    color: white;
}

.sociallast{
    background-color: transparent;
    color: #777575;
    width: 40px;
    height: 40px;
    border: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px;
    border-color:#777575;
    transition: all 0.2s;
}

.sociallast:hover{
    color: #47B2E4;
    border-color: #47B2E4;
}

.sociallast2{
    color:#777575;
    transition: all 0.1s;
}

.sociallast2:hover{
    color: #47B2E4;
}