:root{
    --maincolor:#37517E;
    

}

.topsec{
    background-color:#37517E;
    height: 730px;
}

.collapse a{
    color:white !important;

}

.dropdown-menu a{
    color: black !important;
}

.hero img{
    animation: move 1.5s alternate infinite;
}

@keyframes move{

    from{
    transform: translateY(0);
    }to{
    transform: translateY(-15px);
    }

}

.brands{
    background-color: #f1f0f0;
}


.text-blue{
    color: var(--maincolor) !important;
}

.grey-line{
    width: 13%;
    height: 1px;
    background-color: rgb(192, 190, 190);
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
}

.blue-line{
    width: 38%;
    height:2.5px ;
    background-color: #47B2E4;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.midsec{
    font-size: 18px;
    color: rgb(78, 77, 77);
}

.para{
    color: rgb(142, 140, 140);
    font-size: 17px;
}

.botsec{
    padding-bottom: 50px;
}

.html{
    display: flex;
    justify-content: space-between;
    
}

.html h6{
    font-weight: bold;
    font-size: 13px;
    font-style:inherit;
}

.lorem{
    color: #273e67;
    font-weight: bolder;
}

.lorem2{
    font-style: italic;
}

.percent{
    width: 100%;
    height: 10px;
    background-color: #37517E;
}

.main{
    display: flex;
}
.percent1{
    width: 90%;
    height: 10px;
    background-color: #37517E;
}
.percent2{
    width: 10%;
    height: 10px;
    background-color: #e4e0e0;
}
    
.percent3{
    width: 90%;
    height: 10px;
    background-color: #37517E;
}
.percent4{
    width: 28%;
    height: 10px;
    background-color: #e4e0e0;
    
}
.percent5{
    width: 90%;
    height: 10px;
    background-color: #37517E;
}
.percent6{
    width: 65%;
    height: 10px;
    background-color: #e4e0e0;
    
}


